# Lab | Pandas Deep-Dive

### 1. Import Pandas package under the alias pd and Numpy under the alias np

In [1]:
import pandas as pd
import numpy as np

### 2. Define a variable called `path` that contains the path to the csv file you downloaded.

In [4]:
path = ('/Users/ibaigallego/Desktop/ironhack/curso/week2/2.2-lab_pandas_deepdive/your-code/data/apple_store.csv')

### 3. Using the Pandas `read_csv()` method, import the csv file at the path above. 

Assign the returned value to a variable called `data`.

Note: you can omit the `sep` parameter for `read_csv()` because the csv file uses the default separator of ",".

In [5]:
data = pd.read_csv(path)

### 4. Print the first 5 rows of `data` to see what the data look like.

A data analyst usually does this to have a general understanding about what the data look like before digging deep.

In [6]:
data.head()

,id,track_name,size_bytes,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,prime_genre
0,281656475,PAC-MAN Premium,100788224,3.99,21292,26,4.0,4.5,Games
1,281796108,Evernote - stay organized,158578688,0.00,161065,26,4.0,3.5,Productivity
2,281940292,"WeatherBug - Local Weather, Radar, Maps, Alerts",100524032,0.00,188583,2822,3.5,4.5,Weather
3,282614216,"eBay: Best App to Buy, Sell, Save! Online Shop...",128512000,0.00,262241,649,4.0,4.5,Shopping
4,282935706,Bible,92774400,0.00,985920,5320,4.5,5.0,Reference

### 5. Print the summary (info) of the data.

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7197 entries, 0 to 7196
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                7197 non-null   int64
 1   track_name        7197 non-null   object
 2   size_bytes        7197 non-null   int64
 3   price             7197 non-null   float64
 4   rating_count_tot  7197 non-null   int64
 5   rating_count_ver  7197 non-null   int64
 6   user_rating       7197 non-null   float64
 7   user_rating_ver   7197 non-null   float64
 8   prime_genre       7197 non-null   object
dtypes: float64(3), int64(4), object(2)
memory usage: 506.2+ KB

### 6. Print the number of columns in the data.

In [13]:
data.shape[1]

9

### 7. Print all column names.

In [ ]:
data.columns

## Now that we have a general understanding of the data, we'll start working on the challenge questions.

### 8. How many apps are there in the data source? 

Print the # of observations of the data.

*Hint: Your code should return the number 7197.*

In [16]:
len(data.track_name.unique())

7195

### 9. What is the average rating of all apps? 

First, read the `user_rating` column into a varialbe named `user_rating`.

In [17]:
data.user_rating.mean()

3.526955675976101

In [18]:
user_rating = data.user_rating

Now you can calculate the average of the `user_rating` data.

Your code should return 3.526955675976101

In [19]:
user_rating.mean()

3.526955675976101

### 10. How many apps have an average rating no less than 4?

First, filter `user_rating` where its value >= 4. 

Assign the filtered dataframe to a new variable called `user_rating_high`.

In [20]:
user_rating_high = data[data.user_rating >= 4]

user_rating_high

,id,track_name,size_bytes,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,prime_genre
0,281656475,PAC-MAN Premium,100788224,3.99,21292,26,4.0,4.5,Games
1,281796108,Evernote - stay organized,158578688,0.00,161065,26,4.0,3.5,Productivity
3,282614216,"eBay: Best App to Buy, Sell, Save! Online Shop...",128512000,0.00,262241,649,4.0,4.5,Shopping
4,282935706,Bible,92774400,0.00,985920,5320,4.5,5.0,Reference
5,283619399,Shanghai Mahjong,10485713,0.99,8253,5516,4.0,4.0,Games
...,...,...,...,...,...,...,...,...,...
7192,1187617475,Kubik,126644224,0.00,142,75,4.5,4.5,Games
7193,1187682390,VR Roller-Coaster,120760320,0.00,30,30,4.5,4.5,Games
7194,1187779532,Bret Michaels Emojis + Lyric Keyboard,111322112,1.99,15,0,4.5,0.0,Utilities
7195,1187838770,VR Roller Coaster World - Virtual Reality,97235968,0.00,85,32,4.5,4.5,Games
7196,1188375727,Escape the Sweet Shop Series,90898432,0.00,3,3,5.0,5.0,Games

Now obtain the length of `user_rating_high` which should return 4781.

In [21]:
len(user_rating_high)

4781

### 11. How many genres are there in total for all the apps?

Define a new variable named `genres` that contains the `prime_genre` column of `data`. Google for how to obtain unique values of a dataframe column.

In [22]:
genres = data.prime_genre.unique()

Print the length of the unique values of `genres`. Your code should return 23.

In [23]:
len(genres)

23

### 12. What are the top 3 genres that have the most number of apps?

What you want to do is to count the number of occurrences of each unique genre values. Because you already know how to obtain the unique genre values, you can of course count the # of apps of each genre one by one. However, Pandas has a convient function to let you count all values of a dataframe column with a single command. Google for "pandas count values" to find the solution. Your code should return the following:

```
Games            3862
Entertainment     535
Education         453
Name: prime_genre, dtype: int64
```

In [27]:
data.prime_genre.value_counts().head()

Games            3862
Entertainment     535
Education         453
Photo & Video     349
Utilities         248
Name: prime_genre, dtype: int64

### 13. Which genre is most likely to contain free apps?

First, filter `data` where the price is 0.00. Assign the filtered data to a new variable called `free_apps`. Then count the values in `free_apps`. Your code should return:

```
Games                2257
Entertainment         334
Photo & Video         167
Social Networking     143
Education             132
Shopping              121
Utilities             109
Lifestyle              94
Finance                84
Sports                 79
Health & Fitness       76
Music                  67
Book                   66
Productivity           62
News                   58
Travel                 56
Food & Drink           43
Weather                31
Navigation             20
Reference              20
Business               20
Catalogs                9
Medical                 8
Name: prime_genre, dtype: int64
```

In [30]:
free_apps = data.loc[data.price == 0]

free_apps.prime_genre.value_counts().head()

Games                2257
Entertainment         334
Photo & Video         167
Social Networking     143
Education             132
Name: prime_genre, dtype: int64

### 14. Now you can calculate the proportion of the free apps in each genre based on the value counts you obtained in the previous two steps. 

Challenge yourself by achieving that with one line of code. The output should look like:

```
Shopping             0.991803
Catalogs             0.900000
Social Networking    0.856287
Finance              0.807692
News                 0.773333
Sports               0.692982
Travel               0.691358
Food & Drink         0.682540
Lifestyle            0.652778
Entertainment        0.624299
Book                 0.589286
Games                0.584412
Music                0.485507
Photo & Video        0.478510
Utilities            0.439516
Navigation           0.434783
Weather              0.430556
Health & Fitness     0.422222
Business             0.350877
Productivity         0.348315
Medical              0.347826
Reference            0.312500
Education            0.291391
Name: prime_genre, dtype: float64
```

The numbers are interesting, aren't they?

In [37]:
proportions = (free_apps.prime_genre.value_counts()/data.prime_genre.value_counts()).sort_values(ascending=False)

proportions

Shopping             0.991803
Catalogs             0.900000
Social Networking    0.856287
Finance              0.807692
News                 0.773333
Sports               0.692982
Travel               0.691358
Food & Drink         0.682540
Lifestyle            0.652778
Entertainment        0.624299
Book                 0.589286
Games                0.584412
Music                0.485507
Photo & Video        0.478510
Utilities            0.439516
Navigation           0.434783
Weather              0.430556
Health & Fitness     0.422222
Business             0.350877
Productivity         0.348315
Medical              0.347826
Reference            0.312500
Education            0.291391
Name: prime_genre, dtype: float64

### 15. If a developer tries to make money by developing and selling Apple Store apps, in which genre should s/he develop the apps? Please assume all apps cost the same amount of time and expense to develop.

We will leave this question to you. There are several way to solve it. Ideally your output should look like below:

```
    average_price              genre
21       8.776087            Medical
11       5.116316           Business
4        4.836875          Reference
6        4.835435              Music
1        4.330562       Productivity
15       4.124783         Navigation
16       4.028234          Education
12       1.916444   Health & Fitness
20       1.790536               Book
7        1.647621          Utilities
2        1.605417            Weather
18       1.552381       Food & Drink
14       1.473295      Photo & Video
0        1.432923              Games
8        1.120370             Travel
10       0.953070             Sports
13       0.889701      Entertainment
17       0.885417          Lifestyle
22       0.799000           Catalogs
19       0.517733               News
5        0.421154            Finance
9        0.339880  Social Networking
3        0.016311           Shopping
```

In [62]:




data_price = data.loc[data.price !=0]

avg_price = data_price.groupby('prime_genre').agg('mean').head()

avg_price.sort_values('price', ascending=False).head()

/var/folders/15/5_f65qy92p9g_whj_y56mjsw0000gn/T/ipykernel_4195/2373873996.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  avg_price = data_price.groupby('prime_genre').agg('mean').head()

,id,size_bytes,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver
prime_genre,,,,,,,
Catalogs,9.175551e+08,9.524941e+07,7.990000,1309.000000,163.000000,4.500000,5.000000
Business,6.470935e+08,5.880278e+07,7.881892,3934.189189,325.108108,3.878378,3.729730
Education,8.184988e+08,1.940251e+08,5.684704,583.224299,56.267913,3.331776,2.992212
Book,8.751393e+08,3.500884e+08,4.359565,286.065217,19.108696,3.739130,3.163043
Entertainment,8.845119e+08,1.044440e+08,2.368109,2067.905473,77.044776,3.410448,3.129353

In [63]:
best_genre = data_price.groupby('prime_genre').agg({'price': 'mean',
                           'rating_count_tot': 'sum',
                           'rating_count_ver': 'mean',
                            'user_rating':'mean',
                            'user_rating_ver':'mean'}).sort_values('price', ascending=False)
best_genre.head()

,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver
prime_genre,,,,,
Medical,13.456667,9956,52.066667,3.633333,3.366667
Music,9.398451,195903,86.535211,4.014085,3.683099
Catalogs,7.990000,1309,163.000000,4.500000,5.000000
Business,7.881892,145565,325.108108,3.878378,3.729730
Navigation,7.297692,25841,19.461538,3.057692,2.500000

In [64]:
best_choice = (best_genre.price * best_genre.rating_count_tot).sort_values(ascending=False)

best_choice

prime_genre
Games                3.504996e+07
Music                1.841185e+06
Productivity         1.673221e+06
Photo & Video        1.294530e+06
Business             1.147328e+06
Education            1.064262e+06
Entertainment        9.843023e+05
Health & Fitness     8.889188e+05
Reference            6.003775e+05
Utilities            5.148104e+05
Weather              3.754842e+05
Navigation           1.885797e+05
Medical              1.339746e+05
News                 1.241464e+05
Lifestyle            1.104991e+05
Book                 5.736752e+04
Food & Drink         5.101248e+04
Travel               4.496844e+04
Finance              2.865834e+04
Sports               2.756916e+04
Social Networking    1.923691e+04
Catalogs             1.045891e+04
Shopping             5.416780e+03
dtype: float64

From the recorded data we can find that although Medical apps are more expensive per user the best price/purchase ratio belongs to Games. I calculated this excluding the apps that don't cost money. The total number of user multiplied by the avr price per app outputs this list.

if we don't exclude the free apps this is the result.

In [67]:
best_genre2 = data.groupby('prime_genre').agg({'price': 'mean',
                           'rating_count_tot': 'sum',
                           'rating_count_ver': 'mean',
                            'user_rating':'mean',
                            'user_rating_ver':'mean'}).sort_values('price', ascending=False)
best_genre2

,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver
prime_genre,,,,,
Medical,8.776087,13634,46.739130,3.369565,3.260870
Business,5.116316,272921,275.456140,3.745614,3.333333
Reference,4.836875,1434294,868.671875,3.453125,3.093750
Music,4.835435,3980199,344.956522,3.978261,3.811594
Productivity,4.330562,1433136,121.073034,4.005618,3.733146
Navigation,4.124783,545282,110.195652,2.684783,2.152174
Education,4.028234,1014371,239.000000,3.376380,2.952539
Health & Fitness,1.916444,1784371,211.205556,3.700000,3.369444
Book,1.790536,574049,70.714286,2.477679,2.111607
Utilities,1.647621,1702228,755.036290,3.278226,2.862903
Weather,1.605417,1597034,885.875000,3.597222,3.222222
Food & Drink,1.552381,878133,320.603175,3.182540,2.412698
Photo & Video,1.473295,5008946,282.830946,3.800860,3.485673
Games,1.432923,52878491,575.280166,3.685008,3.545184
Travel,1.120370,1144485,133.864198,3.376543,2.820988
Sports,0.953070,1599070,128.447368,2.982456,2.548246
Entertainment,0.889701,4030518,140.893458,3.246729,2.900000
Lifestyle,0.885417,887294,712.111111,2.805556,2.218750
Catalogs,0.799000,17325,344.600000,2.100000,2.100000
News,0.517733,976130,113.720000,2.980000,2.213333
Finance,0.421154,1148956,250.576923,2.432692,1.634615
Social Networking,0.339880,7598316,556.287425,2.985030,2.482036
Shopping,0.016311,2271070,709.008197,3.540984,2.618852

In [68]:
best_choice2 = (best_genre2.price * best_genre2.rating_count_tot).sort_values(ascending=False)

best_choice2

prime_genre
Games                7.577082e+07
Music                1.924599e+07
Photo & Video        7.379656e+06
Reference            6.937501e+06
Productivity         6.206284e+06
Education            4.086124e+06
Entertainment        3.585956e+06
Health & Fitness     3.419648e+06
Utilities            2.804627e+06
Social Networking    2.582517e+06
Weather              2.563905e+06
Navigation           2.249170e+06
Sports               1.524026e+06
Business             1.396350e+06
Food & Drink         1.363197e+06
Travel               1.282247e+06
Book                 1.027855e+06
Lifestyle            7.856249e+05
News                 5.053750e+05
Finance              4.838872e+05
Medical              1.196532e+05
Shopping             3.704450e+04
Catalogs             1.384268e+04
dtype: float64

We find that even though GAMES are pretty low on the distribution in terms of 'avg. price', the number of downloads far outweights the price. Here present the total number of users.

In [69]:
best_genre.rating_count_tot.sort_values(ascending=False).head()

prime_genre
Games               10165468
Photo & Video         458214
Entertainment         415649
Health & Fitness      267995
Productivity          251795
Name: rating_count_tot, dtype: int64